<h1>Sign up</h1>
<%= form_for(@user, url: signup_path) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>

  <%= f.label :ref_code %>
  <%= f.text_field :ref_code %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>


  <%= f.submit "Create my account" %>

<% end %>
